$text-main-c: #333333;
$text-secondary-c: #333333;
$link-main-c: #f41a2a;
$link-hover: lighten($link-main-c, 20%);
$button-main-c: #f41a2a;
$button-hover-c: #ffffff;
$border-main-c: #f41a2a;
$icon-fill: #f41a2a;

$font-main: "MuseoSansCyrl", "Arial", sans-serif;
$font-second: "PTMono", "Arial", sans-serif;
